<div class="col editor-left-size" (click)="setEditorSize($event)">
    <div class="editor-size-button size-12">
        100%
    </div>
    <div class="editor-size-button size-8">
        75%
    </div>
    <div class="editor-size-button size-6">
        50%
    </div>
    <div class="editor-size-button size-2">
        25%
    </div>
</div>
<div class="col editor-right-size" (click)="setEditorSize($event)">
    <div class="editor-size-button size-12">
        100%
    </div>
    <div class="editor-size-button size-8">
        75%
    </div>
    <div class="editor-size-button size-6">
        50%
    </div>
    <div class="editor-size-button size-2">
        25%
    </div>
</div>
