.buttons > button {
    min-width: 3.5em;
    min-height: 2.5em;
}

.width-8em {
    width: 8em;
}

.margin-tb-1em {
    margin-top: 1em;
    margin-bottom: 1em;
}

.selected {
    background-color: rgba(125, 125, 125, 1);
    color: rgba(0, 0, 0, 1);
}

.searching,
.search-success,
.search-fail {
    border-style: solid;
    color: rgba(125, 125, 125, 1) !important;
}

.searching      {
    border-color: rgba(0, 225, 225, 0.64) !important;
}

.search-success {
    background: rgba(136, 204, 39, 0.12) !important;
    border-color: rgba(136, 204, 39, 1) !important;
}

.search-fail    {
    background: rgba(170, 18, 18, 0.12) !important;
    border-color: rgba(200, 18, 18, 1) !important;
}