<div cdkDropList
     cdkDropListSortingDisabled
     cdkDropListLockAxis="x"
     cdkDropListOrientation="horizontal"
     (cdkDropListDropped)="dropped($event)"
     (mousedown)="handleActionMouseDown($event)"
     (click)="handleActionClick($event)"
     class="display-contents"
>

    <div *ngFor="let tab of tabs"
        cdkDrag
        (cdkDragMoved)="moved($event)"
        title="{{tab.path}}"
        uuid="{{tab.uuid}}"
        path="{{tab.path}}"
        class="tab noselect"
    >
        <span class="title">{{tab.title}}</span>
        <button class="close-button">X</button>
    </div>

</div>

<ul #contextMenu
    class="contextMenu"
    [hidden]="!showContextMenu"
    (blur)="hideContextMenu()"
    (click)="contextMenuClicked($event)"
>
    <li command="close">Close</li>
    <li command="closeAll">Close All</li>
    <li command="closeAllLeft">Close All Left</li>
    <li command="closeAllRight">Close All Right</li>
</ul>