.display-contents {
    display: contents;
}

.tab {
    display: flex;
    float: left;
    margin-right: 2em;
    font-size: 0.2em;

    border-top-style: solid;
    border-top-color: #ffffff64;
    border-top-width: 2px;

    border-left-style: solid;
    border-left-color: #ffffff64;
    border-left-width: 2px;

    border-right-style: solid;
    border-right-color: #ffffff64;
    border-right-width: 2px;

}

.tab:hover {
    cursor: pointer;
}

.title {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 4em;
}

.close-button {
    background: rgba(116, 0, 0, 0.64);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.64);
    border-width: 1px;
}

.close-button:hover {
    background: rgba(256, 0, 0, 0.64);
}