.display-contents {
    display: contents;
}

.tab {
    display: flex;
    float: left;
    margin-right: 2em;
    font-size: 0.2em;

    border-top-style: solid;
    border-top-color: #ffffff64;
    border-top-width: 2px;

    border-left-style: solid;
    border-left-color: #ffffff64;
    border-left-width: 2px;

    border-right-style: solid;
    border-right-color: #ffffff64;
    border-right-width: 2px;
}

.active-tab {
    background-color: rgba(255, 255, 255, 0.46);
    color: rgba(255, 255, 255, 0.8);
}

.tab:hover {
    cursor: pointer;
}

.file-changed {
    color: rgba(255, 168, 0, 0.64);
}

.file-deleted {
    color: rgba(255, 0, 0, 0.64);
}

.title {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 4em;
    align-self: center;
}

.contextMenu {
    display: inline-table;
    z-index: 500;
    position: absolute;
    min-width: 2em;
    padding: 0.2em;
    top: 0em;
    right: 0em;
    background-color: gray;
}

.contextMenu li:hover {
    background-color: rgba(0, 124, 0, 0.64);
    cursor: pointer;
}

.contextMenu li {
    padding: 0em 0.2em;
}

.close-button {
    background: rgba(116, 0, 0, 0.64);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.64);
    border-width: 1px;
}

.close-button:hover {
    background: rgba(256, 0, 0, 0.64);
}
