<div #filesModal
    id="filesModal" class="modal fade" tabindex="-1" role="dialog"
>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Files:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col">

                        <div class="row">
                            <div class="col modal-column">

                                <div #filesList *ngFor="let file of files" class="row">
                                    <div class="col-11 title"
                                        title="{{file.path}}"
                                        uuid="{{file.uuid}}"
                                        path="{{file.path}}"
                                    >
                                        {{file.title}}
                                    </div>
                                    <div class="col-1 close-button">
                                        X
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row">
                            <input #filesSearch type="text" placeholder="Search..." />
                        </div>

                    </div>

                    <div class="col modal-column">
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>