/* TAGS */

html {
    background-color: rgba(40, 44, 52, 0.64);
    color: rgba(255, 255, 255, 0.64);
}

body {
    background-color: rgba(64, 64, 64, 0.0);
    overflow: hidden;
}

ul, li {
    list-style: none;
}


/* IDs */


/* CLASSES */