/* TAGS */


/* IDs */


/* CLASSES */

.markdown-preview {
    top: 2em;
    bottom: 2em;
    right: 2em;
    z-index: 900;
    position: fixed;
    display: inline-block;
    width: 50vw;
    overflow: auto;
    background-color: rgba(64, 64, 64, 0.84);
}

.search-replace {
    bottom: 2em;
    left: 2em;
    right: 2em;
    z-index: 800;
    display: inline-block;
    position: fixed;
    background-color: rgba(64, 64, 64, 0.64);
}

.info-bar {
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.84);
    text-align: center;
}

.tabs {
    display: flex;
    overflow: auto;
    margin-bottom: 0.5em;
    padding-bottom: 0.4em;
    padding-top: 0.4em;
    color: rgba(255, 255, 255, 0.64);
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.hr-pane-handle,
.vr-pane-handle {
      border: 2px dashed lightblue;
}

.vr-pane-handle {
    max-width: max-content;
    height: 100%;
    margin: 0px;
}





.zero-margin-padding {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

.scroller {
    -webkit-scrollbar-color: #00000084 #ffffff06;
	-webkit-scrollbar-width: thin;
	scrollbar-color: #00000084 #ffffff06;
	scrollbar-width: thin;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.page-alert-zone-container {
    position: sticky;
    top: 0em;
    z-index: 2;
}



.searching,
.search-success,
.search-fail {
    border-style: solid;
    color: rgba(125, 125, 125, 1) !important;
}

.searching      {
    border-color: rgba(0, 225, 225, 0.64) !important;
}
.search-success {
    background: rgba(136, 204, 39, 0.12) !important;
    border-color: rgba(136, 204, 39, 1) !important;
}
.search-fail    {
    background: rgba(170, 18, 18, 0.12) !important;
    border-color: rgba(200, 18, 18, 1) !important;
}

/* Other message text colors */
.error   { color: rgb(170, 18, 18); }
.warning { color: rgb(255, 168, 0); }
.success { color: rgb(136, 204, 39); }