<div class="container-fluid">

    <div class="row mt-2 mb-3">

        <div class="col">
            <div class="input-group-sm">
                <input class="form-control" placeholder="Project Path..." />
            </div>
        </div>

        <div class="col col-auto">
            <div class="input-group-sm">
                <button class="btn btn-sm btn-dark">Choose Directory</button>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <code-view #editorComponent [mode]="'standalone'" class="lsp-config-text"></code-view>
        </div>

    </div>

</div>