.editor { 
    position: relative;
    height: 100%;
    width: 100%;
}


.active-editor {
    border-style: solid;
    border-width: thin;
    border-color: rgba(124, 124, 124, 1);
}


.contextMenu {
    display: inline-table;
    z-index: 500;
    position: absolute;
    min-width: 2em;
    padding: 0.2em;
    top: 0em;
    right: 0em;
    background-color: gray;
}

.contextMenu li:hover {
    background-color: rgba(0, 124, 0, 0.64);
    cursor: pointer;
}

.contextMenu li {
    padding: 0em 0.2em;
}
